@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --White: 255, 255, 255;
  --Eggshell: '#f1f1de';
  --Sky: '#abc8e7';
  --Chocolate: '#402020';
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
